@tailwind base;
@tailwind components;
@tailwind utilities;
html::-webkit-scrollbar {
    background: #fff;
    width: 8px;
    padding: 1px;
    /* border-radius: 10px; */
}
html::-webkit-scrollbar-thumb {
    background: #4F1D07;
    border:1px solid #fff;
}