//Vairables
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$primaryColor: #4F1D07;
$secondaryColor: #FFD9D9;
$tertiaryColor: #B9B9B9;
$headingColor: #fff;
$primaryTransition: all 0.3s ease-in-out;

html{
    scroll-behavior:auto;
}
.bgGradient {
    background: linear-gradient(90deg, $tertiaryColor 0%, $secondaryColor 100%);
}
.bgGradient2 {
    background: linear-gradient(90deg, #B9B9B9 0%, #FFD9D9 60%);
}
.bgGradientColorEllipse{
    background: linear-gradient(270deg, #000000 0%, $primaryColor 40%, $primaryColor 100%);
}
.bgGradientEllipse{
    background: linear-gradient(270deg, #000000 0%, $primaryColor 40%, $primaryColor 100%);
    position: absolute;
    top: 0;
    left: -90px;
    aspect-ratio: 1 / 1;
    // translateY: "-63%"
    transform: translateY(-63%);
    box-shadow: 14px 0px 10px rgba(0, 0, 0, 0.3);
    right: -90px;
}
.ellipseSvg{
    transform: scale(1.4);
}
#masterChef{
    width: 40rem;
    position: fixed;
    bottom: 0;
    top: unset;
    left: 48%;
    translate: -45% 60%;
    opacity: 0;
}
#chefCharmFlex{
    transform: scale(2);
}
#aboutChefCharm {
    scroll-snap-align: start;
}
.headingUnderline{
    position: relative;
    color: $headingColor;
    & a{
        padding: 0.3rem 1rem;
    }
}


.headingUnderline::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: $headingColor;
    box-shadow: 0 5px 5px rgb(0 0 0 / 80%);
    transition: $primaryTransition;
}
.headingUnderline::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0px;
    background: $headingColor;
    transition: $primaryTransition;
    z-index: -1;
}
.visit .headingUnderline {
    color: white!important;
}
.visit .headingUnderline::after{
    box-shadow: none;
    width: 110%;
}
.primaryBtn{
    background: $secondaryColor;
    color: $primaryColor;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: 1px solid $primaryColor;
    cursor: pointer;
    transition: $primaryTransition;
}
.contentUl{
    span{
        position: relative;   
    
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0%;
            width: 0%;
            height: 2px;
            background: $primaryColor;
            // box-shadow: 0 5px 5px rgb(0 0 0 / 80%);
            transition: $primaryTransition;
        }

        &:hover::after{
            width: 100%;
        }
    }
    li{
        transition: $primaryTransition;
        &:hover{
            color: $primaryColor;
            transform: translateX(5px);
        }

    }
    .contentIcons{
        min-width: 2rem;
    }
    .contentIcons:hover{
        color: $primaryColor;
    }
}

.whatIs{
    font-size: 2.1rem;
    color: #fff;
    font-weight: 500;
    transition: $primaryTransition;
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.whatIs{
    & span{
        text-decoration: underline $secondaryColor;
        margin-left: 14rem;
        font-size: 2.8rem;
        color: $secondaryColor;
    }
}
.featureHeading{
    text-decoration: underline $secondaryColor;
    font-size: 2.1rem;
    color: $secondaryColor;
}

#aboutList,.featuresAboutList{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
    margin-top: 1rem;
    font-size: 1.2rem;
    list-style: disc;
    margin-left: 1rem;
    & li{
        margin-bottom: 0.6rem;
    }
}
#aboutList{
    margin-top: 3rem;
}
.laptopMockup{
    width:640px
}
#typewriter .Typewriter__cursor{
    color: #fff;
    font-size: 2.5rem;
}
.Typewriter__cursor{
    color: #fff;
}
#getStarted{
    font-size: 4rem;
    & .scrollArrow{
        font-size: '4rem';
    }
}
#listContainer{
    padding-top: 6rem;
    width: 540px;
    padding-right: 2rem;
}
@media screen and (min-width: 1024px){
    .headingUnderline{
        &:hover{
               cursor: pointer;
               color: #000!important;
           }
        &:hover::after{
               bottom: 30px;
               box-shadow: none;
           }
        &:hover::before{
                height: 35px;
                background: $headingColor;
            }
    }
    .primaryBtn:hover{
        background: $primaryColor;
        border: 1px solid $secondaryColor;
        color: $secondaryColor;
    }
}
@media screen and (max-width: 1280px) {
    .whatIs{
        font-size: 2rem;
        & span{
            font-size: 2.5rem;
        }
    }
    .laptopMockup{
        width:550px
    }
    .featureHeading{
        font-size: 2rem;
    }
    #typewriter .Typewriter__cursor{
        font-size: 2rem;
    }
    #aboutList, #aboutList2, #aboutList3, .featuresAboutList{
        font-size: 1.1rem;
    }
    .laptopMockup{
        min-width:500px
    }
    .bgGradientEllipse{
        transform: translateY(-55%);
    }
    #masterChef{
        width: 40rem;
    }
}
@media screen and (max-width: 1024px) {
    .whatIs{
        font-size: 1.8rem;
        & span{
            font-size: 2rem;
            margin-left: 10rem;
        }
    }
    .featureHeading{
        font-size: 2rem;
    }
    .laptopMockup{
        width:430px
    }
    #getStarted{
        font-size: 2.5rem;
        & .scrollArrow{
            font-size: 2.5rem;
        }
    }
    #aboutList, #aboutList2, #aboutList3, .featuresAboutList{
        font-size: 1.1rem;
        margin-top: 2rem;
    }
    .laptopMockup{
        min-width:340px
    }
    .bgGradientEllipse{
        transform: translateY(-45%);
    }
    #chefCharmFlex{
        transform: scale(1.5);
    }
    #masterChef{
        width: 38rem;
    }
}
@media screen and (max-width: 700px) {
    #aboutChefCharm{
        height: 150vh;
        align-items: center;
    }
    .featuresList{
        height: 100vh;
        align-items: center;
    }
    #finalPage{
        display: none;
    }
    .featureMockups{
        height: auto;
    }
    .bgGradient{
        background: linear-gradient(268deg, rgb(0, 0, 0) 0%, rgb(79, 29, 7) 50%, rgb(79, 29, 7) 100%);
    }
    .bgGradient2 {
        background: linear-gradient(268deg, rgb(0, 0, 0) 0%, rgb(79, 29, 7) 50%, rgb(79, 29, 7) 100%)
    }
    .bgGradientEllipse{
        transform: translateY(-40%);
    }
    #chefCharmFlex{
        transform: scale(1);
    }
    #masterChef{
        min-width: 25rem;
        width: 25rem;
    }
    .laptopMockup{
        min-width: 300px;
        max-width: 300px;
    }
    #listContainer{
        padding: 1rem;
        padding-top: 0;
        min-width: 300px;
        width: 100%;
    }
    .whatIs{
        font-size: 1.5rem;
        & span{
            font-size: 1.5rem;
            margin-left: 7rem;
        }
    }
    .featureHeading{
        font-size: 1.5rem;
    }
    #typewriter .Typewriter__cursor{
        font-size: 1.5rem;
    }   
    #aboutList, #aboutList2, #aboutList3,.featuresAboutList{
        font-size: 0.9rem;
        margin: 1rem;
        margin-bottom: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 500px) {
    .bgGradientEllipse{
        transform: translateY(-20%);
    }
   
}
